body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
  }


#startbox{
  display: flex;
  height: 600px;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 50px;
}

#button{
  height: 50px;
}
